<form action="/books/upsert" role="form" method="post">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  {{#if book}}
    <div>
      <h2>{{book.title}} {{book.publishing_year}}</h2>
      <input type="hidden" name="id" value="{{book.id}}">
    </div>
  {{/if}}
  <div>
  <div>
    <label for="book_name">Title</label>
    <input type="text" id="book_name" name="title"{{#if book}}value="{{book.title}}"{{/if}}>
  </div>
  <div>
    <label for="publish_year">Year</label>
    <input type="int" id="publish_year" name="publishingYear"{{#if book}}value="{{book.publishingYear}}"{{/if}}>
  </div>
   <div class="mb-3">
    <label for="authorIds">Author</label>
     <select name="authorIds" multiple id="authorIds">
      <option disabled value>-- select Author --</option>
      {{#each authors}}
        <option value="{{this.id}}"
          {{#if (and @root.book (in @root.book.authorIds this.id))}}selected{{/if}}>
            {{this.firstName}} {{this.lastName}}
        </option>
      {{/each}}
    </select>
   </div>
   <div class="mb-3">
    <label for="genreId">Genre</label>
     <select name="genreId" id="genreId">
      <option disabled value>-- select Genre --</option>
      {{#each genres}}
       <option value="{{this.id}}"
          {{#if (and @root.book (eq @root.book.genreId this.id))}}selected{{/if}}>
            {{this.name}}
        </option>
      {{/each}}
    </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
  
